body{
    background: linear-gradient(to right, #304352, #d7d2cc);
}

p{
    display: inline-block;
    border-left: 1px solid rgb(220, 223, 224);
    margin: 0;
    padding: 1.2em 0.7em 1.2em 0.7em;
}

input{
    margin-right: 1.3%;
    box-shadow: 1px 1px 2px rgb(234, 236, 236) inset;
}

.inbox{
    background-color: rgb(249, 252, 252);
    width: 26.5%;
    margin: auto;
    margin-top: 7em;
    box-shadow: 3px 3px 5px rgb(187, 189, 190);
}

.item{
    border-bottom: 1px solid rgb(234, 236, 236);
    padding-left: 1%;
}

.item:last-child{
    border-bottom: none;
}